@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Rubik', sans-serif;
	background: #faf6fb;
}

.contact-section {
  margin:150px auto;
  width:600px;
}
.contact {
  position: relative;
}
#contact-top{
	text-align:center;
	color:#333;
	font-size:20px；
	}

#contact-form input {
  display: block;
  min-width: 100%;
  margin-bottom: 30px;
  height: 55px;
  padding: 7px 10px;
  background: #fff;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.send-btn-div {
  position: relative;
  line-height: 0;
}

#contact-form textarea {
  min-width: 100%;
  height: 200px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-right: 80px;
  border: none;
  line-height: initial;
}
.send-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background: #333;
  border: none;
  font-size: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: inset 0 0 15px 5px #333;
}
.send-btn:hover {
  background: transparent;
  color: #333;
  box-shadow: inset 0 0 0 5px #333;
}
